nav.emoji-categories > * {
  color: white;
  fill: white;
  filter: invert(96%) sepia(4%) saturate(14%) hue-rotate(143deg) brightness(105%) contrast(103%);
}

ul.emoji-group::before {
  height: 3vh;
  padding: 0;
}